.display-resume {
    height: 80%;
    max-height: 70rem;
    width: 46.1vw;
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 10px rgb(148, 148, 148);
    /* box-shadow: inset 0px 6px #3262a9; */
    --standard-gradient:linear-gradient(#b7bebe, #8cb8da) 15;
    position: relative;
}

.resume-top {
    height: 15px;
    min-width: 500px;
    padding: -30px;
    margin: -30px;
    margin-bottom: 20px;
    opacity: 0.7;
    box-shadow: 0px 1px 3px rgba(151, 151, 151, 0.8);
}

.resume-personal {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.name {
    width: min-content;
    height: min-content;
    white-space: nowrap;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    font-size: 38px;
    font-weight: bold;
}

.portfolio {
    width: min-content;
    height: min-content;
    white-space: nowrap;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-weight: normal;
}

.profile-photo {
    grid-column: 1/2;
    width: 170px;
    height: 190px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 99;
    border: none;
}

.profile-pohto-line1 {
    width: 100px;
    height: 200px;
    margin-top: 0px;
    object-fit: cover;
    border: .2rem solid rgb(225, 186, 186);
    position: absolute;
    z-index: 10;
    border-image: linear-gradient(to right,#f58fd3, #5496cc) 15;
}

.profile-pohto-line2 {
    width: 100px;
    height: 10px;
    margin-top: 45px;
    margin-left: -2px;
    object-fit: cover;
    background-color: #f1f1f1;
    position: absolute;
    z-index: 15;
}

.profile-pohto-line3 {
    width: 100px;
    height: 10px;
    margin-top: 70px;
    margin-left: -2px;
    object-fit: cover;
    background-color: #f1f1f1;
    /* background-color: blue; */
    position: absolute;
    z-index: 12;
}

.profile-pohto-line4 {
    width: 200px;
    height: 120px;
    margin-top: 90px;
    margin-left: -2px;
    object-fit: cover;
    background-color: #f1f1f1;
    /* background-color: rgb(209, 202, 202); */
    position: absolute;
    z-index: 11;
}

.profile-pohto-line5 {
    width: 100px;
    height: 120px;
    margin-top: 3px;
    margin-left: 20px;
    object-fit: cover;
    background-color: #f1f1f1;
    /* background-color: rgb(209, 202, 202); */
    position: absolute;
    z-index: 11;
}



.resume-education {
    width: 55%;
    min-height: 80px;
    border-image: var(--standard-gradient);
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.resume-skill {
    width: 45%;
    min-height: 80px;
    border-image: var(--standard-gradient);
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.resume-experience {
    padding: 20px;
    min-height: 80px;
    border-image: var(--standard-gradient);
    border-width: 3px;
    border-style: solid;
}

.resume-title {
    width: min-content;
    font-size: 22px;
    font-weight: bold;
    color: #213f71;
    text-shadow: .05em .05em .11em rgb(152, 152, 152);
    background-color: #f1f1f1;
    padding: 0 5px;
    margin-top: -40px;
    margin-left: -10px;
}

.white-area {
    position: relative;
    z-index: 99;
    width: 20px;
    background-color: aqua;
}

.education-skill {
    display: flex;
}

.resume-contact>div {
    display: flex;
    /* flex-direction: row; */
    /* width: 50%; */
    gap: .5rem;
    margin-bottom: 10px;
}

.resume-contact-img {
    width: 30px;
    height: 30px;
}




.control {
    display: flex;
    justify-content: space-between;
}

.control-title {
    align-self: center;
    font-size: 28px;
    font-weight: bold;
    color: #213f71;
    margin-left: 8px;
}

.control>div {
    display: flex;
}

.upload-photo {
    color: #3262a9;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    font-family: Playwrite Australia Victoria;
    white-space: nowrap;
    width: min-content;
    height: min-content;
    padding: 5px 12px;
    margin-right: 20px;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    transition: border-color 0.5s ease-in-out;
}

.upload-photo:hover {
    border-color: #646cff;
    color: #3f7ad2;
}

.upload-photo:focus,
.upload-photo:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
}

.upload-photo>input {
    display: none;
}

.color-picker-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
}

.color-picker {
    width: 10px;
    opacity: 0;
    cursor: pointer;
}