.display-resume {
    --bcg-color: rgb(244, 252, 255);
    --standard-gradient: linear-gradient(#b7bebe, #8cb8da) 15;
    aspect-ratio: 0.7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px;
    margin-left: 10px;
    background-color: var(--bcg-color);
    box-shadow: 3px 3px 10px rgb(148, 148, 148);
    position: relative;
    color: #213f71;
}

.resume-top {
    height: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: -30px;
    margin: -30px;
    margin-bottom: 20px;
    opacity: 0.7;
    box-shadow: 0px 1px 3px rgba(151, 151, 151, 0.8);
}

.resume-personal {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin-bottom: 20px;
}

.name {
    width: 10rem;
    height: min-content;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-left: 5px;
}

.portfolio {
    width: 1rem;
    height: min-content;
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px;
}

.profile-photo {
    grid-column: 1/2;
    width: 10rem;
    aspect-ratio: 0.84;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 99;
    border: none;
}

.profile-pohto-line1 {
    width: 100px;
    height: 200px;
    margin-top: 0px;
    object-fit: cover;
    border: .15rem solid rgb(225, 186, 186);
    position: absolute;
    z-index: 10;
    border-image: linear-gradient(to right, #f58fd3, #5496cc) 15;
}

.profile-pohto-line2 {
    width: 100px;
    height: 10px;
    margin-top: 45px;
    margin-left: -2px;
    object-fit: cover;
    background-color: var(--bcg-color);
    position: absolute;
    z-index: 15;
}

.profile-pohto-line3 {
    width: 100px;
    height: 10px;
    margin-top: 70px;
    margin-left: -2px;
    object-fit: cover;
    background-color: var(--bcg-color);
    position: absolute;
    z-index: 12;
}

.profile-pohto-line4 {
    width: 180px;
    height: 120px;
    margin-top: 90px;
    margin-left: -2px;
    object-fit: cover;
    background-color: var(--bcg-color);
    position: absolute;
    z-index: 11;
}

.profile-pohto-line5 {
    width: 100px;
    height: 120px;
    margin-top: 3px;
    margin-left: 20px;
    object-fit: cover;
    background-color: var(--bcg-color);
    position: absolute;
    z-index: 11;
}


.resume-education {
    width: 55%;
    min-height: 80px;
    border-image: var(--standard-gradient);
    border-width: .1rem;
    border-style: solid;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.resume-education>div:nth-child(2) {
    height: 100%;
    align-content: center;
}

hr {
    margin: 10px 0 20px;
}

.school,
.degree {
    text-align: center;
    font-weight: bold;
}

.resume-skill {
    width: 45%;
    min-height: 80px;
    border-image: var(--standard-gradient);
    border-width: .1rem;
    border-style: solid;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.resume-skill>div:nth-child(2) {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill {
    width: min-content;
    height: min-content;
    min-width: 60px;
    padding: 3px 10px;
    margin: 10px;
    background-color: #5496cc;
    border-radius: 20px;
    color: rgb(243, 243, 243);
    white-space: nowrap;
    font-size: 18px;
    text-align: center;
    justify-self: self-start;
    box-shadow: 2px 2px 5px rgb(134, 134, 134);
}

.resume-experience {
    padding: 20px;
    min-height: 80px;
    border-image: var(--standard-gradient);
    border-width: .1rem;
    border-style: solid;
}

.experience {
    margin-top: 20px;
    text-align: justify;
}

.resume-title {
    width: min-content;
    font-size: 22px;
    font-weight: bold;
    color: #213f71;
    text-shadow: .05em .05em .11em rgb(152, 152, 152);
    background-color: rgb(244, 252, 255);
    padding: 0 5px;
    margin-top: -35px;
    margin-left: -10px;
}

.medium {
    font-family: Playwrite Australia Victoria;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.small {
    font-size: 16px;
    text-align: center;
}

.education-skill {
    display: flex;
}

.resume-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
}

.resume-contact>div {
    display: flex;
    gap: .5rem;
    margin-bottom: 10px;
}

.resume-contact>div>div {
    align-self: center;
}

.resume-contact-img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:960px) {
    .display-resume {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
}
@media screen and (max-width:730px) {
    .resume-skill>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .resume-personal {
        display: flex;
        flex-direction: column;
    }

    .resume-personal>div:nth-child(1) {
        margin-left: 20px;
    }

    .resume-personal>img {
        margin: 0 auto;
        margin-top: 20px;
    }

    .skill {
        margin: 5px auto;
    }
}

@media screen and (max-width:400px) {
    .resume-education {
        width: 33%;
    }
    .resume-skill {
        width: 33%;
    }
}