@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap');

* {
  margin: 0px;
  padding: 0px
}

body {
  padding: 30px;
  font-size: 18px;
  font-family: Playwrite Australia Victoria;
  background-color: #e0e0e0;
  float: left;
}

div {
  cursor: default;
}

.app {
  width: 100%;
  display: flex;
  gap: 3rem;
}


@media(max-width:960px){
  .app {
    display: inline-block;
  }
  .control {
    margin-top: 30px;
  }
  .display-resume {
    width: 90%;
    margin: 0 auto;
  }
  .left-sidebar {
    margin: 0 auto;
  }
}