@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap');

* {
  margin: 0px;
  padding: 0px
}

body {
  padding: 20px;
  font-size: 18px;
  font-family: Playwrite Australia Victoria;
  background-color: #e0e0e0;
}

div {
  cursor: default;
}

.app {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width:960px) {
  #root {
    margin-left: 20px;
    justify-content: center;
  }

  .app {
    width: calc(100% - 40px);
    display: inline-block;
    gap: 0;
  }

  .right-display {
    width: calc(100% - 40px);
  }
}